 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(55, 51, 51);
    color: white;
}

html{
    font-size: 10px;
}
body{
    font-family: "Roboto";
 
}
i{
    color: black;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 0 18px;
}
.left-section{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.left-section img{
   
}
.mid-section{
    margin-left: -40%;
    display: flex;
    align-items: center;
}
.mid-section form{
    display: flex;
    height: 40px ;
    width: 628px;
}
.mid-section input{
    width: 100%;
    border-radius: 2px;
    padding: 12px;
    font-size: 1.6rem;
    border: 1px solid #d3d3d3;
}
.mid-section button{
    width: 64px;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    padding-top: 4px;
    cursor: pointer;
    background-color: #f8f8f8;

}

.mid-section button:hover{
    border-color: #c6c6c6;
    background-color: #f0f0f0;
}

.mid-section #mic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;

}

.right-section a{
    padding-right: 18px;
    text-decoration: none;
    color: black;
}

.content-area{
    height: calc(100vh - 56px); 
    display: flex; 
    background-color: #e5e2e2;
}

aside{
    height: 100%;
    width: 280px;
    background-color: white;
     overflow-y: auto; 
}

nav{
    width: 100%;
    font-weight: bolder;
}
.nav-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 20px;
    color: black;
    /* border: 1px solid red; */
    /* border-radius:20px ; */
}
.nav-link:hover{
    background-color:rgba(0,0,0,0.05);
}

.nav-link span{
    margin-left: 24px;
    font-size: 1.4rem;
    font-weight: 500px;
    line-height: 2em;

}
.active{
    background-color: #e5e5e5;

}
#active-span{
    font-weight: bold;
} 
hr{
    height: 1px;
    background-color: #e5e5e5;
    border: none;
    margin: 15px ;
}
nav p{
    font-size: 1.4rem;
    color: #606060;
    font-weight: bold;
    padding: 10px 16px;
    text-transform: uppercase;
    margin-left: 6px;
    letter-spacing: 4px;
}
.channel-image{
    height: 24px;
    width: 24px;
    border-radius: 50%;
}
main{
    width: 100%;
    height: 100%;
    padding: 35px 15px;
    border-top: 1px solid #ddd;
    overflow-y: auto;
    
}
.videos-container{
    /* border: 1px solid violet; */

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
}

.video{
    width: 330px;
    /* border: 1px solid red; */
}
.thumbnail{
    width: 100%;
    height:187px;
}
.thumbnail img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    
}
.video-details{
    display: flex;
    margin-left: -20px;
    
}

.creator-img img{
    width: 40px ;
    height: 40px;
    border-radius: 50%; 
    position: relative;
    left: 20px;
    top: 10px;
}
.title{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 50px;
    top: 5px;
}
.title a{
    text-decoration: none;
    color: rgb(73, 70, 70);
}
.video-title{
    font-size: 1.6rem;
    max-width: 278px;
    font-weight: 500;
    overflow: hidden;
    margin-bottom: 4px;
    /* display: -webkit-box;
    --webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical; */
}

.video-creator, .title-span{
     color: #868484;
     font-size: 1.4rem;
     line-height: 2rem;
     font-weight: 400;

}

.video-creator:hover{
    color: black;
    letter-spacing: 4px;
    transition: 0.9s;
}